@media (max-width:600px){
    html,body{
        overflow-x:hidden;
 }
body {
    background-color: #f5f5dc;
    transform:scale(0.95);
    transform-origin:top center;
}
a {
    font-family:cursive;
    font-size: 30px;
    color: #000d86;
    text-decoration: none;
}
